body{
    font-family: 'Raleway', sans-serif;
    padding: 0;margin: 0;

}
.flex-size{
    display: flex;

}
.top-banner{

}
.left-top-banner{
    width: 50%;
    margin-left: 100px;
    margin-top: 150px;

}
.right-top-banner{
    width: 50%;
    margin-right: 80px;
    margin-top: 50px;
    
    

}
.skip-text{
    color: #FD6C3C;
}
h1{
    font-size: 60px;
    font-weight: bold;
    line-height: 20px;
    color: #575757;
}
p{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    
    text-align: justify;
    color: #575757;
}
img{
    width: 492px;
}
a{
    text-decoration: none;
    padding: 10px;
    background-color: #FD5C35;
    color: aliceblue;
    border-radius: 10px;
}
.body-section{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.body-section-left{
    width: 50%;
    margin: 50px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.body-section-right{
    width: 50%;
    margin-top: 80px;
    margin-right: 70px;
}
h2{
    font-size: 50px;
    color: #575757;
}
.lower-body{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    
    
}
.lower-body h2{
    text-align: center;
    
    

}

.lower-body p{
    text-align: center;
    text-align: justify;
    margin-right: 26px;
    text-align: center;
}
.lower-left p{
    text-align: left;
    padding-left: 30px;
    text-align: justify;

}


.lower-left{
    width: 50%;
    margin-left: 60px;
    padding: 40px;
    padding-left: 20px;
    box-shadow: 1px 1px 5px 5px rgb(189, 182, 182);
    border-radius: 10px;
    margin-right: 10px;
    
}
.lower-right img{
    width: 500px;
    padding: 20px;
    padding-bottom: 0px;

}
.lower-right p{
    text-align: left;
    padding-left: 30px;
    text-align: justify;

}
h3{
    font-size: 20px;
    text-align: left;
    margin-left: 30px;
}
.lower-right{
    width: 50%;
    margin-right: 70px;
    margin-left: 10px;
    padding: 20px;
    box-shadow: 1px 1px 5px 5px rgb(189, 182, 182);
    border-radius: 10px;
}
.bottom-sec{
    margin: 20px;

    
}
.bottom-box{
    
}
.bottom-text{
    width: 100%;
    
    
}

.box-shadow{
        
    box-shadow: 4px 4px 11px 0px grey;
    margin: 60px;
    margin-left: 153px;

}
.bottom-text h4{
    float: right;
    margin-right: 177px;
    font-size: 28px;
    margin-bottom: 0pc;
    margin-top: 65px;
    padding-left: 98px;
    
}

.bottom-text-two{
    width: 100%;
    
    
}
.bottom-text-two p{
    float: right;
    margin-right: 98px;
    padding-left: 70px;

}
.footer-sec{
    overflow: hidden;
    padding: 104px;
    background-color: #0B0D17;
    height: 50px;
    
}
.footer-sec h4{
    text-align: center;
    color: #5B5B5B;
    font-size: 28px;
    margin: 0px;
}
.footer-sec p{
    text-align: center;
    color: wheat;
    font-size: 15px;
    margin: 35px;
}
.eat-color{
    color: #FB964B;
}
