body{
    font-family: 'Raleway', sans-serif;
    padding: 0;margin: 0;

}
.flex-size{
    display: flex;

}
.top-banner{

}
.left-top-banner{
    width: 50%;
    margin-left: 100px;
    margin-top: 150px;

}
.right-top-banner{
    width: 50%;
    margin-right: 80px;
    margin-top: 50px;
    
    

}
.skip-text{
    color: #FD6C3C;
}
h1{
    font-size: 60px;
    font-weight: bold;
    line-height: 20px;
    color: #575757;
}
p{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
    color: #575757;
}
img{
    width: 492px;
}
a{
    text-decoration: none;
    padding: 10px;
    background-color: #FD5C35;
    color: aliceblue;
    border-radius: 10px;
}
.body-section{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.body-section-left{
    width: 50%;
    margin: 50px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.body-section-right{
    width: 50%;
    margin-top: 80px;
    margin-right: 70px;
}
h2{
    font-size: 50px;
    color: #575757;
}